In [45]:
import yfinance as yf
import ta
import matplotlib.pyplot as plt

In [49]:
data = yf.download('FNGU',start = '2021-01-04')

[*********************100%***********************]  1 of 1 completed

In [80]:
ticker = 'FNGU'
start_day = '2021-04-01'

data = yf.download(ticker,start = '2021-01-01')
if start_day not in data.index:
    print('해당 날은 주가 기록이 없습니다.')
data = data.reset_index()						# 날짜 인덱스를 열로 바꾸고 숫자 인덱스 사용
rsi = ta.momentum.rsi(data['Close'])
mfi = ta.volume.money_flow_index(data['High'],data['Low'],data['Close'],data['Volume'])
macd = ta.trend.macd(data['Close'])
macd_sig = ta.trend.macd_signal(data['Close'])

[*********************100%***********************]  1 of 1 completed

In [89]:
data[data['Date'] == '2021-04-01']

         Date   Open  High    Low  Close  Adj Close   Volume
62 2021-04-01  29.48  30.1  28.82  29.27      29.27  6344200

In [79]:
macd_sig[31]

nan

In [61]:
data[rsi <= 35]

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-05-10  28.590000  28.590000  26.110001  26.160000  26.160000   8436400
2021-05-11  23.930000  26.650000  23.660000  26.490000  26.490000  12783000
2021-05-12  25.180000  26.174000  24.124001  24.360001  24.360001   7616100
2021-05-13  25.139999  25.299999  23.020000  23.900000  23.900000   8131600
2021-05-18  26.090000  26.700001  25.260000  25.260000  25.260000   5838300
2021-05-19  23.760000  25.290001  23.719999  25.219999  25.219999   5744200
2021-08-17  32.790001  33.220001  31.389999  32.209999  32.209999   2648900
2021-08-18  32.250000  32.915001  31.600000  31.680000  31.680000   1564100
2021-08-19  30.850000  32.429001  30.580000  31.360001  31.360001   2623800
2021-10-04  32.869999  32.950001  29.910000  30.600000  30.600000   5253200
2021-12-03  38.799999  38.967999  33.648998  35.119999  35.119999   7673300